useDynLib(baygel, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(blockBAGENI)
export(blockBAGENII)
export(blockBAGL)
export(blockBAGR)
export(blockBGEN)
export(blockBGL)
export(blockBGR)

# Suppress R CMD check note
importFrom(RcppArmadillo, fastLmPure)
